<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.board.mapper.BoardMapper">

<sql id="criteria">
	<where>
		<if test="title != null">
	    	UPPER(title) LIKE '%' || UPPER(#{title}) || '%'
	    </if>
	    <if test="bno != null">
	    	 AND BNO = #{bno}
	    </if>
	</where>
</sql>

<!-- 건수조회 -->
<select id="selectCount" resultType="Long">
	SELECT count(*)
	FROM   TBL_BOARD
	<include refid='criteria'></include>
</select>


<!-- 전체조회 -->
<select id="selectBoard" resultType="boardVO">
	SELECT B.BNO,
       B.TITLE,
       B.CONTENT,
       B.WRITER,
       B.REGDATE,
       B.UPDATEDATE,
       NVL(R.REPLY_CNT, 0) AS REPLYCNT
FROM (
    SELECT *
    FROM (
        SELECT /*+INDEX_DESC (TBL_BOARD PK_BOARD)*/
               ROWNUM RN, T.*
        FROM   TBL_BOARD T
        <include refid="criteria"/>
    ) 
    WHERE RN BETWEEN #{first} AND #{last}
) B
LEFT JOIN (
    SELECT BNO, COUNT(*) AS REPLY_CNT
    FROM   TBL_REPLY
    GROUP BY BNO
) R
ON B.BNO = R.BNO
</select>

<!-- 단건조회 -->
<select id="selectBoardByBno" resultType="boardVO" parameterType="Long">
	SELECT BNO,
		   TITLE,
		   CONTENT,
		   WRITER,
		   REGDATE,
		   UPDATEDATE,
		   ATTACH
	FROM   TBL_BOARD
	WHERE  BNO = #{bno}
</select>

<!-- 댓글조회 -->
<select id="selectReply" resultType="replyVO" parameterType="Long">
	SELECT RNO,
		   BNO,
		   REPLY,
		   REPLYER,
		   REPLYDATE,
		   UPDATEDATE
	FROM   TBL_REPLY
	WHERE  BNO = #{bno}
</select>

<!-- 삭제 -->
<delete id="deleteBoard" parameterType="Long">
	DELETE FROM TBL_BOARD
	WHERE  BNO = #{bno}
</delete>

<!-- 등록 -->
<insert id="insertBoard" parameterType="boardVO">
  INSERT INTO TBL_BOARD (
      BNO,
      TITLE,
      CONTENT,
      WRITER,
      ATTACH
  )
  VALUES (
      seq_board.nextval,
      #{title},
      #{content},
      #{writer},
      #{attach}
  )
</insert>

</mapper>